/target
/.settings
/.project
/.classpath

/b2c/target
/b2c/.project
/b2c/.settings
/b2c/.classpath

/b2c/b2c-entities/target
/b2c/b2c-entities/.project
/b2c/b2c-entities/.settings
/b2c/b2c-entities/.classpath

/b2c/b2c-repositories/target
/b2c/b2c-repositories/.project
/b2c/b2c-repositories/.settings
/b2c/b2c-repositories/.classpath

/b2c/clients-manager/target
/b2c/clients-manager/.project
/b2c/clients-manager/.settings
/b2c/clients-manager/.classpath

/b2c/security/target
/b2c/security/.project
/b2c/security/.settings
/b2c/security/.classpath

/b2c/shopping-cart/target
/b2c/shopping-cart/.project
/b2c/shopping-cart/.settings
/b2c/shopping-cart/.classpath

/common/target
/common/.project
/common/.settings
/common/.classpath

/order-manager/target
/order-manager/.project
/order-manager/.settings
/order-manager/.classpath
/order-manager/.mvn
